.showing {
    display: block;
}

.hiding {
    display: none;
}

.subheading {
    font-size: medium;
    font-family: var(--vscode-editor-font-family);
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
    background: var(--vscode-input-background);
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: var(--vscode-activityBar-foreground);
    border-radius: 8px;
    margin-top: 4px;
}

.sublist {
    padding-left: 1em;
}

.chevron {
    width: 24px;
    height: 24px;
}
