.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.wh-80 {
    width: 80%;
    height: 80%;
}

.w-100 {
    width: 100%;
}

.align-self-start {
    align-self: flex-start;
}

.p4 {
    padding: 1rem;
}

.p2 {
    padding: 0.5rem;
}

.p1 {
    padding: 0.25rem;
}

.m2 {
    margin: 0.5rem;
}

.border-1px-medium {
    border: 1px solid;
}

.border-radius-8 {
    border-radius: 8px;
}

.justify-content-space-between {
    justify-content: space-between;
}

.dot.content {
    color: white;
    border-color: #606060;
    border-style: solid;
    border-width: 0.1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: 500;
    /* display: inline-block; */
}

.dot {
    height: 35px;
    width: 35px;
    background-color: #bbb;
    border-radius: 50%;
}

.font-medium {
    font-size: medium;
}
