* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
/* Should we be hiding scrollbar? */

p {
    font-family: Consolas, 'Menlo';
    font-weight: normal;
    font-size: 12px;
    font-feature-settings: 'liga' 0, 'calt' 0;
    line-height: 18px;
    letter-spacing: 0px;
    margin: 0px;
}

.codeStyle {
    font-family: Consolas, 'Menlo';
    font-weight: normal;
    font-size: 12px;
    font-feature-settings: 'liga' 0, 'calt' 0;
    line-height: 18px;
    letter-spacing: 0px;
    margin: 0px;
}

span {
    font-family: var(--vscode-font-family);
    font-size: 12px;
}

.AnchorContainer {
    display: flex;
    border: 1.5px solid var(--vscode-editor-foreground);
    flex-direction: column;
    border-color: #94ce9b63;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    flex-grow: 1;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    overflow: hidden;
}

.AnchorContainer.Suggestion {
    margin-left: 2rem;
    margin-top: 0.25rem;
    margin-right: 2rem;
    margin-bottom: 0.25rem;
    border-color: #dcdcaa5e;
    /* flex-direction: row; */
}

.MergedAnchorContainer {
    overflow: hidden;
}

.MergedAnchorContainer.Selected {
    box-shadow: 0px 0px 6px 3px #94ce9b5e;
}

.AnchorContainer.Selected {
    box-shadow: 0px 0px 6px 3px #94ce9b5e;
}

.MergedAnchorContainer > .AnchorContainer {
    margin-left: 0;
    margin-right: 0;
}

.AnchorContainer.Suggestion.Merged {
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: none;
}

.CodeLines {
    margin: 0;
    font-family: Consolas, 'Menlo';
    font-size: 12px;
}

.AnchorCodeText {
    color: rgba(255, 255, 255, 0.805);
    font-weight: 400;
    background-color: #93c0ff1c;
    border: 0.2px solid rgba(217, 234, 247, 0.25);
}

.AnchorCodeTextLight {
    color: rgba(102, 115, 124, 0.945);
    font-weight: 400;
    background-color: #ffffff1c;
    border: 0.2px solid rgba(217, 234, 247, 0.25);
}

.AnchorCode {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
    color: #7fae42;
    overflow: scroll;
    margin-top: 10px;
}

.SuggestionTitle {
    padding: 0px 5px;
    padding-bottom: 4px;
    font-size: 1.2rem;
    font-style: italic;
}

.SuggestionTitle.ReanchorTitle {
    font-size: 0.9rem;
    cursor: pointer;
}

.AnchorCode.Suggestion {
    color: #dcdcaa;
}

.AnchorWrapper {
    display: flex;
    flex-direction: column;
}

.AnchorWrapper.Suggestions {
    padding: 1rem;
}

code {
    padding: 0;
    margin: 0;
}

button.reanchor {
    border-radius: 4px;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    color: var(--vscode-foreground);
    margin-top: 2px;
    border: 2px solid transparent; /* TODO: Switch between 1 and 2px*/
    border-color: #7fae4236;
    background-color: var(--vscode-editor-background);
    height: 30px;
}

button.reanchor:hover {
    filter: brightness(1);
    transition: opacity 0.55s ease-in-out;
    background-color: #7fae42;
}

button.remove {
    border-radius: 4px;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    color: var(--vscode-foreground);
    margin-top: 2px;
    border: 2px solid transparent; /* TODO: Switch between 1 and 2px*/
    border-color: rgba(158, 158, 158, 0.651);
    background-color: var(--vscode-editor-background);
    height: 30px;
    /* margin: 2px;
    border-radius: 8px;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    color: white;
    margin-top: 6px;
    border: 2px solid transparent;
    border-color: rgba(158, 158, 158, 0.651);
    background-color: var(--vscode-editor-background);
    height: 30px; */
}

button.remove:hover {
    filter: brightness(1);
    transition: opacity 0.55s ease-in-out;
    background-color: rgba(158, 158, 158, 0.651);
}

.disabled {
    opacity: 0.5;
    font-style: oblique;
    filter: grayscale();
}
